@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900");
body, a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Microsoft JhengHei', 'Heiti TC', sans-serif;
  font-weight: 300;
  color: #080808; }

body {
  background-color: #9daeb2; }

a:hover {
  text-decoration: none;
  color: #080808; }

.top-bar, .top-bar ul {
  background-color: #9daeb2; }

.is-dropdown-submenu {
  border: none; }

.card {
  border: none;
  background: #e6e6e6;
  margin: 5px 10px; }

#landing {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("/images/landing.jpg");
  background-attachment: fixed;
  text-align: center; }
  #landing .row {
    height: 100vh; }
  #landing h1 > a {
    font-weight: 100; }
