@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900');
body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Microsoft JhengHei', 'Heiti TC', sans-serif;
    font-weight: 300;
    color: $color-black;
}

body {
    background-color: $color-white-1;
}

a:hover {
    text-decoration: none;
    color: $color-black;
}

.topbar-center-logo {
    background: $topbar-center-logo-bg;
    .menu {
        background: $topbar-center-logo-bg;
        a {
            color: $color-white-1;
        }
    }
    .top-bar-center {
        flex: 1 0 auto;
        @media screen and (max-width: 39.9375em) {
            display: none;
        }
    }
}

.topbar-center-logo-mobile {
    background: $topbar-center-logo-bg;
    .menu-icon {
        vertical-align: text-top;
    }
}

.is-dropdown-submenu {
    border: none;
}

.card {
    border: none;
    background: $color-white-0;
    margin: 15px 25px;
    img {
        width: 350px;
    }
}