@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900');
body, a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'Microsoft JhengHei', 'Heiti TC', sans-serif;
    font-weight: 300;
    color: $color-black;
}

body {
    background-color: $color-white-1;
}

a:hover {
    text-decoration: none;
    color: $color-black;
}

.top-bar, .top-bar ul {
    background-color: $color-white-1;
}

.is-dropdown-submenu {
    border: none;
}

.card {
    border: none;
    background: $color-white-0;
    margin: 5px 10px;
}