$color-primary-0: #9daeb2;
$color-primary-1: #71BEB1;
$color-primary-2: #7E657F;
$color-secondary-0: #3F3925;
$color-secondary-1: #BEAF7A;
$color-white-0: #fcfcfc;
$color-white-1: #e6e6e6;
$color-gray: #202020;
$color-black: #080808;