$color-primary-0: #fed53e;
$color-primary-1: #fec639;
$color-primary-2: #543019;
$color-primary-3: #767676;
$color-secondary-0: #6ec7cd;
$color-secondary-1: #94bd74;
$color-secondary-2: #a8805a;
$color-secondary-3: #fcc5c5;
$color-white: #e6e6e6;
$color-gray: #202020;
$color-black: #080808;
$color-korea-0: #725643;
$color-korea-1: #b4b4b4;