@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,600,800');
body {
    font-family: 'Dosis', 'Microsoft JhengHei', 'Heiti TC', sans-serif;
}

#landing {
    height:100vh;
    a {
        color: white;
        font-weight: 200;
        :hover {
            text-decoration: none;
        }
    }
}