@import "settings";
@import "reset";

#landing {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('/images/landing.jpg');
    background-attachment: fixed;
    text-align: center;
    a {
        h1 {
            font-weight: 200;
        }
    }
}