@import "settings";
@import "reset";
#landing {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('/images/landing.jpg');
    background-attachment: fixed;
    text-align: center;
    .row {
        height: 100vh;
    }
    h1>a {
        font-weight: 100;
    }
}

#post {
    .date {
        text-align: right;
    }
    .banner {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .cht>p {
        font-weight: 500;
    }
    .space {
        height: 30px;
    }
    img {
        width: 100%;
    }
}