---
layout: layout
title: Projects
---

<div class="row">
{% for post in site.posts %}
    {% if post.category == 'projects' %}
        <div class="card">
            <a href="{{ post.url }}">
                <img src="/images/thumbs/{{ post.title | slugify }}.jpg" alt="{{ post.title }}">
            </a>
            <div class="card-section">
                <h5>{{ post.title }}</h5>
                <a>({{ post.date | date: "%Y" }})</a>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>